mat-card-content {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

.btn {
    margin-left: 10px;
    width: 96.5%;
}

.header {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}